
/* Wird angewendet, falls Dark-Mode die Präferenz im Browser ist. */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #202020; /* 20% */
        color: white;
    }

    #leftBar, #rightBar {
        color: royalblue;
        background-color: black;
    }

    /* Tabelle */
        td {
            background-color: #0e2058; /* 20% | -35% */
        }

        #Suppe, #Dessert {
            background-color: #153184; /* 30% | -25% */
        }
    /**/

    /* Legal Notice */
        #legalNotice {
            background-color: #303030; /* 30% | +10% */
        }
    /**/

}