
body {background-color: whitesmoke; /* 10% */}

#leftBar, #rightBar {
    color: cornflowerblue;
    background-color: white;
}

/* Knöpfe und Eingabe-Boxen */
    button {
        border-color: #1f49c7; /* 45% | -10% */
        background-color: royalblue; /* 57% ~ 55% */
        color: white;
    }

    input {
        border-color: royalblue;
        background-color: #1f49c7;
        color: white;
    }

    .buttons {
        border-color: #b03636; /* 45% | -10% */
        background-color: indianred; /* 58% ~ 55% */
    }
/**/

/* Tabelle */
    td {
        background-color: #d3dcf8; /* 90% | +35% */
    }

    th {
        background-color: royalblue;
        color: white;
    }

    #Suppe, #Dessert {
        background-color: #a7b9f1; /* 80% | +25% */
    }
/**/

/* Legal Notice */
    #legalNotice {
        background-color: #E8E8E8; /* 20% | +10% */
    }
/**/