
/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Importiert Light-Mode, unabhängig von der Präferenz des Browsers */

@import "styleLight.css";

/* Importiert Dark-Mode, falls Dark-Mode die Präferenz im Browser ist */

@media (prefers-color-scheme: dark) {@import "styleDark.css";}

/* Normales Theming */

body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

#kontent {
    width: 100%;
    margin: auto;
}

#buttonsOben {
    margin-bottom: 12px;
    width: 100%;
}

#buttonsUnten {
    margin-top: 12px;
    width: 100%;
}

button, input {
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    font-size: smaller;
}

.buttons {
    margin-bottom: 4px;
}

/* Tabelle */

table {
    empty-cells: hide;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {text-align: center;}

.buttons {
    display: none;
}

td:hover {
    font-weight: bolder;
}

/* Handys */

@media only screen and (min-width: 1200px) {
    #kontent {
        width: 40%;
        margin: auto;
    }
}