
/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Importiert Light-Mode */

@import "styleLight.css";

/* Importiert Dark-Mode */

@import "styleDark.css";

h1, button, input, #fehlermeldung, th {
    user-select: none;
}

/* Normales Theming */

body {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

div, #showsearch {
    font-size: inherit;
}

#kontent {
    width: 90%;
    margin: auto;
}

#buttonsOben {
    margin-bottom: 12px;
    width: 100%;
}

#buttonsUnten {
    margin-top: 12px;
    width: 100%;
}

button, input {
    font-family: inherit;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    font-size: x-large;
}

.buttons {
    display: none;
    margin-bottom: 4px;
}

#fehlermeldung {
    color: red;
    font-weight: bolder;
}

/* Tabelle */

table {
    empty-cells: hide;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    text-align: center;
}

td:hover {font-weight: bolder;}

/* Desktops */

@media only screen and (min-width: 1200px) {
    body, div {
        font-size: large;
    }

    button, input {
        font-size: medium;
    }

    #kontent {
        width: 40%;
        margin: auto;
    }
}